html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Merriweather, serif;
  line-height: 1.5;
  background-color: #fff;
  color: #fff;
  margin: 0;
  padding: 0;
}

img {
  max-width: 40px;
}

header {
  background-color: #d05c2e;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: .5rem 0;
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  width: 33.3333%;
}

a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  border: 1px solid #a63f38;
  width: 100%;
  padding: .4rem 0;
}

a:hover {
  background-color: #a63f38;
}
